{
    "cluster": "tfserving-alb-example",
    "serviceName": "serving-cpu-without-alb",
    "taskDefinition": "serving-cpu:1",
    "launchType": "EC2",
    "networkConfiguration": {
        "awsvpcConfiguration": {
            "securityGroups": [
                "sg-11111111111111111"
            ],
            "subnets": [
                "subnet-11111111111111111",
                "subnet-22222222222222222"
            ],
            "assignPublicIp": "ENABLED"
        }
    },
    "desiredCount": 1
}
